div.content {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../Asset/Home/Background.jpg);
    background-size: cover;
    background-position: center center;
    margin-top: -4px;
}